<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Folder maart 2015 - Werktitel</title>
  <link rel="stylesheet" href="stylesheets/css/folder-maart.css">
</head>

<body>
  <div id="lp-folder-wrapper">
    <div class="content-row">
      <div class="col-3 row-1 ">
        <a href="/jack-wolfskin-fleece-strokkur-full-zip-3142c50003?id_colour=2998" alt="Strokkur" class="contentlink">
          <img src="images/producten/JACK-WOLFSKIN_STROKKUR-JACKET_3142C50003_5050.jpg" alt="Strokkur Damesjacket">
          <div class="bottom-container">
            <div class="price-tag">
              <p class="barred-price">&euro; 99,95</p>
              <p class="new-price"><span class="currency">&euro;</span>69</p>
            </div>
            <h3>Strokkur <span class="product-category">Damesjacket</span></h3>
            <div class="swatch-container">
              <span class="swatch" style="background: #358e8f"></span>
            </div>
            <div class="logo-container">
              <img src="images/merken/jackwolfskin.jpg" alt="Jack Wolfskin" class="logo">
            </div>
          </div>
        </a>
      </div>
      <div class="col-3 row-1 ">
        <a href="/eider-jas-charvin-31b5c50019?id_colour=3700" alt="Charvin" class="contentlink">
          <img src="images/producten/EIDER_CHARVIN_31B5C50019_6262.jpg" alt="Charvin Damesjas">
          <div class="bottom-container">
            <div class="price-tag">
              <p class="barred-price">&euro; 179,95</p>
              <p class="new-price"><span class="currency">&euro;</span>129</p>
            </div>
            <h3>Charvin <span class="product-category">Damesjas</span></h3>
            <div class="swatch-container">
              <span class="swatch" style="background: #937f78"></span>
            </div>
            <div class="logo-container">
              <img src="images/merken/eider.jpg" alt="Eider" class="logo">
            </div>
          </div>
        </a>
      </div>
      <div class="col-3 row-1 ">
        <a href="/ayacucho-jas-highland-dames-31b6c50023" alt="Highland" class="contentlink">
          <img src="images/producten/AYACUCHO_HIGHLAND_31B6C50023_5555_grey.jpg" alt="Highland Damesjas">
          <div class="bottom-container">
            <div class="price-tag">
              <p class="new-price"><span class="currency">&euro;</span>119,95</p>
            </div>
            <h3>Highland <span class="product-category">Damesjas</span></h3>
            <div class="swatch-container">
              <span class="swatch" style="background: #222"></span>
              <span class="swatch" style="background: #7c835a"></span>
            </div>
            <div class="logo-container">
              <img src="images/merken/Logo_Ayacucho.jpg" alt="Ayacucho" class="logo">
            </div>
          </div>
        </a>
      </div>
      <div class="col-3 row-1 ">
        <a href="/merrell-schoen-hilltop-bold-mid-wp-dames-3b22d40003?id_colour=3544" alt="Hilltop Bolt WP" class="contentlink">
          <img src="images/producten/MRL-J258756C-101414-S15-032.jpg" alt="Hilltop Bolt WP Damesschoen">
          <div class="bottom-container">
            <div class="price-tag">
              <p class="barred-price">&euro; 119,95</p>
              <p class="new-price"><span class="currency">&euro;</span>79</p>
            </div>
            <h3>Hilltop Bolt WP <span class="product-category">Damesschoen</span></h3>
            <div class="swatch-container">
              <span class="swatch" style="background: url('images/kleuren/schoen56.png')"></span>
            </div>
            <div class="logo-container">
              <img src="images/merken/merrell.png" alt="Merrell" class="logo">
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="content-row">
    </div>
  </div>
</body>

</html>
